<?xml version="1.0"?>
<!-- {{ ansible_managed }} -->
<yandex>
    <quotas>
        <default>
            <interval>
                <duration>20000</duration>
                <queries>0</queries>
                <errors>0</errors>
                <result_rows>0</result_rows>
                <read_rows>0</read_rows>
                <execution_time>0</execution_time>
                <default_session_timeout>3000</default_session_timeout>
            </interval>
        </default>
        <other>
            <interval>
                <duration>360</duration>
                <queries>0</queries>
                <errors>0</errors>
                <result_rows>0</result_rows>
                <read_rows>0</read_rows>
                <execution_time>0</execution_time>
            </interval>
        </other>
    </quotas>

    <profiles>
        <default>
            <use_uncompressed_cache>0</use_uncompressed_cache>
            <load_balancing>random</load_balancing>
        </default>
        <readonly>
            <use_uncompressed_cache>0</use_uncompressed_cache>
            <load_balancing>random</load_balancing>
            <readonly>1</readonly>
        </readonly>
    </profiles>

    <users>
        <default>
            <password></password>
            <networks>
                <ip>::/0</ip>
            </networks>
            <profile>default</profile>
            <quota>default</quota>
        </default>

        <larry>
            <!-- TODO: support for hashed passwords -->
            <password>@b%NqxYOBBLI!!flQzu</password>
            <networks>
                <ip>::/0</ip>
            </networks>
            <profile>default</profile>
            <quota>default</quota>
        </larry>
    </users>
</yandex>
